<%if (theme.page_comment){%>
  <div id="gitalk-container"></div>
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script type="text/javascript">
  var gCID = '<%=url_for(page.path)%>';
  var gitalkConfig = { 
    clientID: '<%=theme.gitalk.clientID%>',
    clientSecret: '<%=theme.gitalk.clientSecret%>',
    repo: '<%=theme.gitalk.repo%>',
    owner: '<%=theme.gitalk.owner%>',
    admin: ['<%-theme.gitalk.admin.join('\u0027,\u0027')%>'],
    labels: ['<%-theme.gitalk.labels.join('\u0027,\u0027')%>'],
    perPage: <%=theme.gitalk.perPage%>,
    pagerDirection: '<%=theme.gitalk.pagerDirection%>',
    createIssueManually: <%=theme.gitalk.createIssueManually%>,
    distractionFreeMode: <%=theme.gitalk.distractionFreeMode%>
   };
   gitalkConfig.id=md5(gCID);
   var gitalk = new Gitalk(gitalkConfig);
   gitalk.render('gitalk-container');
  </script>
<% } %>